# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
media/
staticfiles/
.env

# VS Code
.vscode/

# Pipenv
Pipfile.lock

# OS
.DS_Store
Thumbs.db

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.log
*/migrations/[0-9][0-9][0-9][0-9]_*.py

# Coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/